*{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e5151c9;
}

input{
    display: none;
}

input{
    display: relative;
    z-index: 10;
}

input[value="top"]:checked ~ .container .cube{
    transform: rotateX(45deg) rotateY(35deg);
}
input[value="right"]:checked ~ .container .cube{
    transform: rotateX(135deg) rotateY(45deg);
    
}
input[value="button"]:checked ~ .container .cube{

    transform: rotateX(-35deg) rotateY(45deg);
}
input[value="left"]:checked ~ .container .cube{
    
    transform: rotateX(45deg) rotateY(135deg);
}


input[value="left"]:checked ~ #l-left,
input[value="right"]:checked ~ #l-right,
input[value="top"]:checked ~ #l-top,
input[value="button"]:checked ~ #l-button{
    background-color: red;
}


label{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #0f0f0f;
    cursor: pointer;
    border-radius: 50px;
}

label:hover{
    background-color: #dc3d2452;
}
#l-left{
    left: 16px;
}

#l-right{
    right: 16px;
}

#l-top{
    top: 16px;
}

#l-button{
    bottom: 16px;
}


.container{
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.cube{
    position: relative;
    transform-style:preserve-3d ;
    width: 100%;
    height: 100%;
    transition: transform .5s linear;
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;

}

.front{
    display: flex;
    flex-direction: column;
    background-color: red;
    transform: rotateX(0deg) translateZ(100px);
}

.back{
    display: flex;
    flex-direction: column;
    background-color:orange;
    transform: rotateX(180deg) translateZ(100px);

}

.right{
    display: flex;
    flex-direction: column;
    background-color:yellow;
    transform: rotateY(90deg) translateZ(100px)

}

.left{
    display: flex;
    flex-direction: column;
    background-color:green;
    transform: rotateY(-90deg) translateZ(100px);


}

.top{
    display: flex;
    flex-direction: column;
    background-color:white;
    transform: rotateX(90deg) translateZ(100px)

    
}

.button{
    display: flex;
    flex-direction: column;
    background-color:blue;
    transform: rotateX(-90deg) translateZ(100px);
}

table{
    display: flex;

}
tr{
    display: flex;
}

td{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 65px;
    height: 65px;
}